.bg-dark,
.bg-white,
.bg-secondary,
.bg-light {
  transition: 0.3s;
}

.item-container {
  position: relative;
  height: 180px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 8px;

  &:hover {
    transform: translateY(-8px);

    .item-content {
			i {
				transform: rotate(-10deg);
      }
    }
  }

  .item-content {
		i {
			transition: 0.4s;
		}
  }
}

.theme-mode-icon {
  cursor: pointer;
  transition: 1s;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.filter-container {
  border-radius: 8px;
}

.item-status-container {
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 8px 8px;
}
